<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://i.ibb.co/3SkmthS/fav.png">
        <title>EmyCar</title>

        <!--=== Bootstrap CSS ===-->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
        <!--=== Slicknav CSS ===-->
        <link th:href="@{/assets/css/plugins/slicknav.min.css}" rel="stylesheet">
        <!--=== Magnific Popup CSS ===-->
        <link th:href="@{/assets/css/plugins/magnific-popup.css}" rel="stylesheet">
        <!--=== Owl Carousel CSS ===-->
        <link th:href="@{/assets/css/plugins/owl.carousel.min.css}" rel="stylesheet">
        <!--=== Gijgo CSS ===-->
        <link th:href="@{/assets/css/plugins/gijgo.css}" rel="stylesheet">
        <!--=== FontAwesome CSS ===-->
        <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet">
        <!--=== Theme Reset CSS ===-->
        <link th:href="@{/assets/css/reset.css}" rel="stylesheet">
        <!--=== Main Style CSS ===-->
        <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
        <!--=== Responsive CSS ===-->
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet">
        <!--=== Jquery Min Js ===-->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
    </head>

    <div sec:authorize="isAuthenticated()">
        <th:block th:include="~{fragments/logged-in-navbar}"></th:block>
    </div>

    <div sec:authorize="isAnonymous()">
        <th:block th:include="~{fragments/anonymous-navbar}"></th:block>
    </div>
</th:block>
</html>