<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <div class="book-ur-car">
                        <form action="index2.html">

                            <div class="car-choose bookinput-item">
                                <select class="custom-select">
                                    <option selected>Choosе Model</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Audi</option>
                                    <option value="3">Lexus</option>
                                </select>
                            </div>

                            <div class="car-choose bookinput-item">
                                <select class="custom-select">
                                    <option value="1">Cheapest first</option>
                                    <option value="2">Most Expensive first</option>
                                </select>
                            </div>

                            <div class="car-choose bookinput-item">
                                <select class="custom-select">
                                    <option selected>Show all</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Audi</option>
                                    <option value="3">Lexus</option>
                                </select>
                            </div>

                            <div class="bookcar-btn bookinput-item">
                                <button type="submit">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Car List Content Start -->
            <div class="col-lg-12">
                <div class="car-list-content">
                    <div class="row">
                        <!-- Single Car Start -->
                        <th:block th:each="car : ${cars}">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-car-wrap">
                                <div class="car-list-thumb" th:style="|background-image:url(${car.picture})|"></div>
                                <div class="car-list-info without-bar">
                                    <h2><a href="#" th:text="|${car.make} ${car.model}|"></a></h2>
                                    <h5 th:text="|${car.price}  Rent /per a day|"></h5>
                                    <ul class="car-info-list">
                                        <li th:if="${car.hasAC}">AC</li>
                                        <li th:text="${car.fuel}"></li>
                                        <li th:text="${car.transmission}"></li>
                                    </ul>
                                    <a href="#" class="rent-btn">Rent</a>
                                </div>
                            </div>
                        </div>
                        </th:block>
                        <!-- Single Car End -->
            </div>
            <!-- Car List Content End -->
        </div>
    </div>
</section>
<!--== Car List Area End ==-->

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>