
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>DETAILS</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Car List Area Start ==-->
<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Car List Content Start -->
            <div class="col-lg-8">
                <div class="car-details-content">
                    <h2 th:text="|${car.make} ${car.model} - ${car.price} $ Per Day|"></h2>
                    <div class="single-car-preview">
                        <img th:src="${car.picture}" alt="JSOFT">
                    </div>
                    <div class="car-details-info">
                        <h4>Additional Info</h4>
                        <p th:text="${car.description}"></p>

                        <div class="technical-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Make</th>
                                                <td th:text="${car.make}"></td>
                                            </tr>
                                            <tr>
                                                <th>Model</th>
                                                <td th:text="${car.model}"></td>
                                            </tr>
                                            <tr>
                                                <th>Year</th>
                                                <td th:text="${car.year}"></td>
                                            </tr>
                                            <tr>
                                                <th>Fuel Consumption</th>
                                                <td th:text="${car.fuelConsumption}"></td>
                                            </tr>
                                            <tr>
                                                <th>Horsepower</th>
                                                <td th:text="${car.horsepower}"></td>
                                            </tr>
                                            <tr>
                                                <th>AC</th>
                                                <td th:text="${car.hasAC} ? 'YES' : 'NO'"></td>
                                            </tr>
                                            <tr>
                                                <th>Transmission</th>
                                                <td th:text="${car.horsepower}"></td>
                                            </tr>
                                            <tr>
                                                <th>Doors</th>
                                                <td th:text="${car.doors}"></td>
                                            </tr>
                                            <tr>
                                                <th>Passengers</th>
                                                <td th:text="${car.passengers}"></td>
                                            </tr>
                                            <tr>
                                                <th>Category</th>
                                                <td th:text="${car.category}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br>

                        <div>
                            Start Date: <input type="date" id="startDate" />
                        </div>

                        <div>
                            End Date: <input type="date" id="endDate" />
                        </div>
                        
                        <div id="price" style="display: none" th:text="${car.price}"></div>

                        <div class="input-submit">
                            <button type="submit" id="calc">Calculate price</button>
                        </div>
                        <br>

                        <div id="totalPrice"></div>

                        <script>
                            function days_between(date1, date2) {
                                // The number of milliseconds in one day
                                let ONE_DAY = 1000 * 60 * 60 * 24;

                                // Convert both dates to milliseconds
                                let date1_ms = date1.getTime();
                                let date2_ms = date2.getTime();

                                // Calculate the difference in milliseconds
                                let difference_ms = Math.abs(date1_ms - date2_ms);

                                // Convert back to days and return
                                return Math.round(difference_ms / ONE_DAY) + 1;
                            }

                            function dateCompare(date1, date2) {
                                return new Date(date2) > new Date(date1);
                            }


                            $("#calc").click(function () {
                                let today = new Date();
                                today.setHours(0,0,0,0);

                                if (dateCompare($("#startDate")['0'].valueAsDate, $("#endDate")['0'].valueAsDate) &&
                                    dateCompare(today, $("#startDate")['0'].valueAsDate)
                                ) {
                                    let days = days_between($("#startDate")['0'].valueAsDate, $("#endDate")['0'].valueAsDate);

                                    let pricePerDay = +$("#price")[0].innerText;

                                    let totalPrice = days * pricePerDay;

                                    $("#totalPrice").text('Total Price: $' + totalPrice);
                                } else {
                                    $("#totalPrice").text('Please enter valid dates.');
                                }
                            });
                        </script>
                        <div class="input-submit">
                            <button id="changeHover" type="submit">Rent</button>
                            <button id="changeHover" type="reset">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Car List Content End -->

            <!-- Sidebar Area Start -->
            <div class="col-lg-4">
                <div class="sidebar-content-wrap m-t-50">
                    <!-- Single Sidebar Start -->
                    <div class="single-sidebar">
                        <h3>For More Informations</h3>

                        <div class="sidebar-body">
                            <p><i class="fa fa-mobile"></i> +666666 666 666</p>
                            <p><i class="fa fa-clock-o"></i> All Day, All Night</p>
                        </div>
                    </div>
                    <!-- Single Sidebar End -->

                    <!-- Single Sidebar Start -->
                    <div class="single-sidebar">
                        <h3>Connect with Us</h3>

                        <div class="sidebar-body">
                            <div class="social-icons text-center">
                                <a href="https://github.com/team-emy/RentACar" target="_blank"><i class="fa fa-github"></i></a>
                                <a href="https://web.facebook.com/milena.damesova?fref=search&__tn__=%2Cd%2CP-R&eid=ARAF8jbRa04rbUU-rRf9rpzvBwQ6DQohFFIvKEO7JEywlFZegZ_ye195g_OkdjnwfxRUfVQ7ItNMsksq" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://web.facebook.com/profile.php?id=100001042664610&__tn__=%2Cd-]-h-R&eid=ARAJgpH_Mj9VMZtHcsArrvddchYQLNPDEMdTX5SmhjbUMKg8pRtrZCME95yy61scFhBoEz2PcBAnO-Wi" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://web.facebook.com/yoana.borissova" target="_blank"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar End -->
                </div>
            </div>
            <!-- Sidebar Area End -->
        </div>
    </div>
</section>
<!--== Car List Area End ==-->

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>