
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Edit</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <br>
                    <br>
                    <h4>EmyCar - car rental system</h4>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Add your car info here</h3>
                        <form method="post" th:action="@{/cars/edit/{id}(id=${car.id})}">
                            <div class="username">
                                <input type="text" placeholder="Make" name="make" th:value="${car.make}">
                            </div>
                            <div class="username">
                                <input type="text" placeholder="Model" name="model" th:value="${car.model}">
                            </div>
                            <div class="username">
                                <input type="number" placeholder="Year" name="year" th:value="${car.year}">
                            </div>
                            <div class="username">
                                <input type="text" placeholder="Fuel" name="fuel" th:value="${car.fuel}">
                            </div>
                            <div class="username">
                                <input type="text" placeholder="Fuel Consumption" name="fuelConsumption" th:value="${car.fuelConsumption}">
                            </div>
                            <div class="username">
                                <input type="number" placeholder="Horsepower" name="horsepower" min="1" th:value="${car.horsepower}">
                            </div>
                            <div class="username">
                                <input type="text" placeholder="Image URL" name="picture" th:value="${car.picture}">
                            </div>

                            <div class="username">
                                <input type="number" placeholder="Number of Doors" name="doors" min="1" max="10" th:value="${car.doors}">
                            </div>
                            <div class="username">
                                <input type="text" placeholder="Number of passengers" name="passengers" min="1" th:value="${car.passengers}">
                            </div>
                            <div class="username">
                                <input type="number" placeholder="Price per day" name="price" min="1" max="10000" th:value="${car.price}">
                            </div>
                            <div class="form-group purple-border">
                                <textarea class="form-control" placeholder="Description" name="description" th:text="${car.description}"></textarea>
                            </div>
                            <div class="username">
                                <select name="category" class="browser-default custom-select">
                                    <option value="Small">Small</option>
                                    <option value="Midsize">Midsize</option>
                                    <option value="Large">Large</option>
                                </select>
                            </div>
                            <br>
                            <div class="username">
                                <select id="" name="transmission" class="browser-default custom-select">
                                    <option value="Auto">Auto</option>
                                    <option value="Manual">Manual</option>
                                </select>
                            </div>
                            <br>
                            <!--<div class="form-check">-->
                            <!--<label class="form-check-label">AC</label>-->
                            <!--<input type="checkbox" class="form-check-input"  value="true" name="hasAC">-->
                            <!--</div>-->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input ac" value="true" name="hasAC">
                                <br>
                                <label class="form-check-label">AC</label>
                            </div>
                            <div class="log-btn">
                                <button type="submit" >Edit</button>
                            </div>
                        </form>
                    </div>
                    <div class="create-ac">
                        <br>
                        <p>We offer you best service and data security 🤣</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>